<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the searched users page </h1>

  

  <a href="/api/user/dashboard/">myProfile</a>

<h4>About:</h4>


  <li> 
      
{{#if sentAlready}}
   <a href="/api/user/deleteFriend/{{user.username}}">Request sent </a>
{{else}}
   <a href="/api/user/addFriends/{{user.username}}">Add friend </a> 
{{/if}}

</li>
     

     



  

  <ul>
  <li><a href="/api/user/pendingRequest">Friends</a> </li>
</ul>  
  


 <h2>General Information</h2>
  <ul>
  <li>
  Name: {{user.name}}
  </li>
  <br>
  <li>
  username: {{user.username}}
  </li>
  <br>
  <li>  Email: {{user.email}}</li>
  <br> 
  <li> Created At: {{user.createdAt}}</li>
 </ul>
     
   
</body>
</html>